span.key {
    background: #fff;
    color: #000;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 0.2em;
}

span.spacekey {
    background: #fff;
    color: #000;
    padding: 0.1em 8em 0.1em 8em;
    border-radius: 0.2em;
}

div.pagecenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

span.link {
    cursor: pointer;
    color: #42affa;
}

span.link:hover {
    color: #8dcffc;
}
